<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2><%= @another_entry.member.name %>さんとのメッセージ</h2>
    </div>
  </div>
  <div class="chat_room">
    <% @messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>
  <div class="message_form shadow-sm">
    <%= flash[:danger] %>
    <%= form_with model: @message, url: messages_path, method: :post, local: true do |f| %>
      <%= f.text_field :message, class: "form-control" %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <%= f.submit "送信", class: "btn btn-outline-success" %>
    <% end %>
    100字まで入力できます。<br>
    誹謗中傷、不適切な発言は控えるように心がけましょう。<br>
    メッセージをクリックすると削除することができます。
  </div>
</div>